proj.win8.1-universal/
proj.win32/Debug.win32/
proj.win10/
cocos2d/
proj.android-studio/
*.d
*.o
*.cache
Resources/
proj.win32/MyGame.opensdf
proj.win32/MyGame.sdf
*.png
*.ttf
*.jpg
*.apk
proj.android/bin/
proj.android/
proj.ios_mac/
proj.win32/Release.win32/
Classes/AppDelegate.cpp.sb-0c638041-Z1pMPL
.DS_Store
proj.ios_mac.rar
Android - 副本.mk
proj.android.rar
